{{#if edit}}
    <button type="submit" class="btn btn-success">Save</button>
    <a href="#" class="btn btn-danger" onclick="history.back()">Cancel</a>
{{else}}
    <button type="submit" class="btn btn-success">Add new {{type}}</button>
{{/if}}