{{#partial "content"}}

    {{> deletedOrAddedAlert.hbs}}

    <h1>Restaurants:</h1>

    {{#if allRestaurants}}
        {{#each allRestaurants }}
            <p>{{ content }} <a href="/restaurant/{{id}}">{{name}}</a></p>
        {{/each}}
    {{else}}
        <p>No restaurants found!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}